<!DOCTYPE html>
<html>

<head lang="en">

	<title>RPG-Maker</title>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, chronicle-scalable=no"></meta>

	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="../vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../css/core.css" rel="stylesheet" media="screen" />
	<link href="../css/page.css" rel="stylesheet" media="screen" />
	<link href="../css/form.css" rel="stylesheet" media="screen" />
	<link href="../css/fonts.css" rel="stylesheet" media="screen" />
	<link href="../css/navbar.css" rel="stylesheet" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet" />

	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/popper.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="../js/core.js"></script>
	<script src="../vendor/vue/vue.min.js"></script>

	<link href="../vendor/toastr/toastr.min.css" rel="stylesheet" />
	<script src="../vendor/toastr/toastr.min.js"></script>
</head>

<body>
	<div id="navBarContainer">
		<navbar-component></navbar-component>
	</div>
	<main class="main-container" id="chroniclesListContainer">
		<div class="container">
			<div th:if="${not #lists.isEmpty(chronicles)}">
				<h2>Chronicle List</h2>
				<table class="table table-striped">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>GameMaster</th>
						<th>GameType</th>
						<th>Players</th>
						<th>View</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr v-for="chronicle in chronicles">
						<td th:text="${chronicle.id}">{{chronicle.Id}}</td>
						<td th:text="${chronicle.name}">{{chronicle.Name}}</td>
						<td th:text="${chronicle.gameMaster.name}">{{chronicle.GameMater.Name}}</td>
						<td th:text="${chronicle.gameType}">{{chronicle.GameType}}</td>
						<td>
							<span v-for="player : chronicle.Players">
								<span>{{player.Name}}</span>
							</span>
						</td>
						<td>
							<a :href="showHref(chronicle.Id)">View</a>
						</td>
						<td>
							<a :href="edtiHref(chronicle.Id)">Edit</a>
						</td>
						<td>
							<button class="btn btn-danger" type="buttonbutton" v-on:click="deleteData(chronicle)">Delete</button>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</main>


	<!-- coreJs -->
	<script src="../js/main.js"></script>
	<script src="../js/data.js"></script>
	
	<script>
		var chronicleListVm = "";
		chronicleListVm = new Vue({
			el: "#chroniclesListContainer",
			data: {
				chronicles: []
			},
			methods: {
				deleteData(chronicle) {
					console.log("delete", chronicle);
					sendOperation("DELETE", "Chronicle", chronicle).then(resolve => {
						chronicleListVm.chronicles = resolve;
					}, (err) => {

					});
				},
				showHref(id){
					return `chronicleshow.html?Id=${id}`;
				},
				edtiHref(id){
					return `chronicleform.html?Id=${id}`;
				}
			}
		});
		sendOperation("GET", "Chronicle", "").then(resolve => {
			chronicleListVm.chronicles = resolve;
		}, (err) => {

		});
	</script>
</body>

</html>