<!DOCTYPE html>
<html>

<head lang="en">

	<title>RPG-Maker</title>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, player-scalable=no"></meta>

	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="../vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../css/core.css" rel="stylesheet" media="screen" />
	<link href="../css/page.css" rel="stylesheet" media="screen" />
	<link href="../css/form.css" rel="stylesheet" media="screen" />
	<link href="../css/fonts.css" rel="stylesheet" media="screen" />
	<link href="../css/navbar.css" rel="stylesheet" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet" />

	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/popper.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="../js/core.js"></script>
	<script src="../vendor/vue/vue.min.js"></script>

	<link href="../vendor/toastr/toastr.min.css" rel="stylesheet" />
	<script src="../vendor/toastr/toastr.min.js"></script>
</head>

<body>
	<div id="navBarContainer">
		<navbar-component></navbar-component>
	</div>
	<main class="main-container" id="playerFormContainer">

		<div class="container">
			<div>
				<form v-on:submit.prevent="save" th:action="@{/player}" method="post">
					<div class="d-flex justify-content-start">
						<div class="p-2">
							<h2>Player Details</h2>
						</div>
						<div class="p-3">ID:
							<input type="text" name="id" v-model="player.Id" disabled/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Name:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" v-model="player.Name" />
						</div>
					</div>

					<div class="row">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</main>

	<!-- coreJs -->
	<script src="../js/main.js"></script>
	<script src="../js/data.js"></script>
	

	<script>
		var playerFormVm = "";
		playerFormVm = new Vue({
			el: "#playerFormContainer",
			data: {
				player: JSON.parse(JSON.stringify(PlayerModel))
			},
			methods: {
				save() {
					console.log("submit", playerFormVm.player);
					playerFormVm.player.Id != "0" ?
						sendOperation("PUT", "Player", playerFormVm.player, "Atualizar player").then(resolve => {}, (err) => {

						}) :
						sendOperation("POST", "Player", playerFormVm.player, "Criar player").then(resolve => {}, (err) => {

						});
				},
				loadUrlParameter() {
					var search = location.search.substring(1);
					if (search) {
						var paramters =
							JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g, '":"') + '"}');
						sendOperation("GET", "Player", paramters, "Buscar dados de player").then(resolve => {
							playerFormVm.player = resolve;
						}, (err) => {

						});
					}

				}
			}
		});
		playerFormVm.loadUrlParameter();
	</script>
</body>

</html>