<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">

	<title>RPG-Maker</title>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"></meta>

	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="../vendor/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../css/core.css" rel="stylesheet" media="screen" />
	<link href="../css/page.css" rel="stylesheet" media="screen" />
	<link href="../css/form.css" rel="stylesheet" media="screen" />
	<link href="../css/fonts.css" rel="stylesheet" media="screen" />
	<link href="../css/navbar.css" rel="stylesheet" media="screen" />
	<link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet" />

	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/popper.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
	<script src="../js/core.js"></script>

	<script src="../vendor/vue/vue.min.js"></script>

	<link href="../vendor/toastr/toastr.min.css" rel="stylesheet" />
	<script src="../vendor/toastr/toastr.min.js"></script>
</head>

<body>
	<div id="navBarContainer">
		<navbar-component></navbar-component>
	</div>
	<main class="main-container" id="playersListContainer">
		<div class="container">
			<div th:if="${not #lists.isEmpty(players)}">
				<h2>Player List</h2>
				<table class="table table-striped">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>View</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
					<tr v-for="player in players">
						<td>{{player.Id}}</td>
						<td>{{player.Name}}</td>
						<td>
							<a :href="showHref(player.Id)">View</a>
						</td>
						<td>
							<a :href="editHref(player.Id)">Edit</a>
						</td>
						<td>
							<button class="btn btn-danger" type="buttonbutton" v-on:click="deleteData(player)">Delete</button>
						</td>
					</tr>
				</table>

			</div>
		</div>
	</main>

	<!-- coreJs -->
	<script src="../js/main.js"></script>
	<script src="../js/data.js"></script>

	<script>
		var playerListVm = "";
		playerListVm = new Vue({
			el: "#playersListContainer",
			data: {
				players: []
			},
			methods: {
				deleteData(player) {
					console.log("delete", player);
					sendOperation("DELETE", "Player", player ,"Deletar Player").then(resolve => {
						getAllPlayers();
					}, (err) => {

					});
				},
				showHref(id) {
					return `playershow.html?Id=${id}`;
				},
				editHref(id) {
					return `playerform.html?Id=${id}`;
				}
			}
		});
		function getAllPlayers() {
			sendOperation("GET", "Player", "", "Buscar Players").then(resolve => {
				playerListVm.players = resolve;
			}, (err) => {

			});
		}
		getAllPlayers();
	</script>
</body>

</html>